@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9c74f;
  --secondary-color: #f94144;
}
body {
  font-family: "Lobster Two", cursive;
  background-color: var(--primary-color);
}

.heading {
  text-align: center;
  padding: 1rem 0 0 0;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  font-size: 3rem;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}
#privacy-msg {
  
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 0;
  /* margin: auto; */
  width: 90%;
  border-radius: 0.4rem;
}
#privacy-msg span {
 background-color:var(--secondary-color);
 padding: 0.3rem;
  font-size: 1rem;
 
}
#description {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 0;
}

input,
label,
button {
  display: block;
  font-size: 1.2rem;
}
label {
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem 0 0.5rem 0;
}

input {
  width: 70%;
  padding: 0.5rem;
  margin: 0.4rem auto;
  border-radius: 0.4rem;
  border: 2px solid var(--secondary-color);
}
#btn-check {
  margin: 1rem auto;
  border-radius: 0.3rem;
  border: none;
  padding: 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}
#btn-check:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}
#output {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  margin: 0.4rem auto;
  padding: 1rem;
}

footer {
  background-color: #f77f0030;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
footer h2 {
  text-decoration: underline;
}
.footer-link {
  list-style-type: none;
  display: inline-block;
  padding: 0.7rem;
  font-size: 1rem;
}
.footer-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}
